<div class="container">
  <h1>Movie List</h1>

  <ul>
    <% @movies.each do |movie| %>
      <li><%= link_to movie.title, movie_path(movie)  %></li>
    <% end %>
  </ul>

  <h2>Ajouter un film depuis OMDb</h2>

  <%= form_with url: search_from_omdb_movies_path, method: :get do %>
  <%= label_tag :title, "Movie title" %>
  <%= text_field_tag :title %>
  <%= submit_tag "Search" %>
<% end %>

<% if @results.present? %>
  <h3>Résultats :</h3>
  <ul>
    <% @results.each do |movie| %>
      <li>
        <%= image_tag movie["Poster"], alt: movie["Title"], width: 100 if movie["Poster"] != "N/A" %>
        <strong><%= movie["Title"] %></strong> (<%= movie["Year"] %>)
        <%= button_to "Add", create_from_omdb_movies_path(imdb_id: movie["imdbID"]), data: { turbo_method:"POST" } %>
      </li>
    <% end %>
  </ul>
<% end %>


  <%# <%= form_with url: create_from_omdb_movies_path, data: { turbo_method:"POST" } do %>
    <%# <%= label_tag :title, "Movie title" %>
    <%# <%= text_field_tag :title %>
    <%# <%= submit_tag "Ajouter depuis OMDb" %>
  <%# <% end %>

</div>
