<div class="container">
  <h1>Movie List</h1>

  <ul id="movies">
    <%= render @movies  %>
    <%# <% @movies.each do |movie| %>
      <%# <li id="<%= dom_id(movie) %>
        <%# <%= link_to movie.title, movie_path(movie) </li>  %>
    <%# <% end %>
  </ul>

  <h2>Ajouter un film depuis OMDb</h2>

  <%= form_with url: search_from_omdb_movies_path, method: :post, data: { turbo_stream: true } do %>
  <%= label_tag :title, "Movie title" %>
  <%= text_field_tag :title %>
  <%= submit_tag "Search" %>
  <% end %>

  <turbo-frame id="omdb_results">
    <%# Display de la liste de films provenant d'OMDB %>
  </turbo-frame>


</div>
