<div class="container">
  <h1>Movie List</h1>

  <ul>
    <% @movies.each do |movie| %>
      <li><%= link_to movie.title, movie_path(movie)  %></li>
    <% end %>
  </ul>

  <h2>Ajouter un film depuis OMDb</h2>

  <%= form_with url: create_from_omdb_movies_path, data: { turbo_method:"POST" } do %>
    <%= label_tag :title, "Titre du film" %>
    <%= text_field_tag :title %>
    <%= submit_tag "Ajouter depuis OMDb" %>
  <% end %>

</div>
