<div class="container">
    <div class="d-flex justify-content-between mt-3">
      <h1> <%= @movie.title %></h1>
      <div class="d-flex align-items-center">
        <%= link_to "Back to movies", movies_path, class: "btn btn-primary" %>
      </div>
    </div>

  <p><%= @movie.description %></p>
  <div class="mb-3">
    <%= button_to "Add to your watchlist", movie_planned_movies_path(@movie), data: { turbo_method:"POST" }, class: "btn btn-success mb-1"  %>
    <%= button_to "Add to your seenlist", movie_seen_movies_path(@movie), data: { turbo_method:"POST" }, class: "btn btn-success mb-1"  %>

    <%= button_to "Add to your likes", movie_likes_path(@movie), data: { turbo_method: "POST"}, class: "btn btn-danger mb-1"%>

    <% if Chat.find_by(movie_id: @movie.id, user_id: current_user.id).nil? %>
      <%= link_to "Chat about this movie", movie_chats_path(@movie.id), data: { turbo_method:"POST" }, class: "btn btn-warning" %>
    <% else %>
      <%= link_to "Chat about this movie", chat_path(Chat.find_by(movie_id: @movie.id, user_id: current_user.id)), class: "btn btn-info" %>
    <% end %>
  </div>

</div>
