<div class="container">
  <div class="row mt-3">
    <div class="d-flex">
      <div class="banner rounded">
        <img src="<%= @movie.poster %>" alt="Movie Poster">
      </div>

    <div class="bg-white ms-3 rounded shadow flex-grow-1 p-3">
      <h1> <%= @movie.title %></h1>

      <div class="d-flex ms-3">
        <strong class="me-1">Release date:</strong>
        <% if @movie.release_date.present? %>
          <%= @movie.release_date %>
        <% else %>
          N/A
        <% end %>
      </div>
      <div class="d-flex ms-3">
        <strong class="me-1">Genres:</strong>
        <% if @movie.genres.present? %>
         <%= @movie.genres.join(", ")%>
        <% else %>
          N/A
        <% end %>
      </div>
      <div class="d-flex ms-3">
        <strong class="me-1">Directors:</strong>
        <% if @movie.directors.present? %>
         <%= @movie.directors.join(", ")%>
        <% else %>
          N/A
        <% end %>
      </div>
      <div class="d-flex mx-3">
        <strong class="me-1">Description:</strong>
        <% if @movie.description.present? %>
         <%= @movie.description %>
        <% else %>
          N/A
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="d-flex">
      <div id="like_button" class="mx-2">
        <%= render "shared/buttons/like_button", movie: @movie %>
      </div>

      <div id="seen_button" class="mx-2">
        <%= render "shared/buttons/seen_button", movie: @movie %>
      </div>

      <div id="planned_button" class="mx-2">
        <%= render "shared/buttons/planned_button", movie: @movie %>
      </div>
      <div id="chat_button" class="mx-2">
        <%= render "shared/buttons/chat_button", movie: @movie %>
      </div>
    </div>
  </div>
</div>
