<div class="container">
    <div class="d-flex justify-content-between mt-3">
      <h1> <%= @movie.title %></h1>
      <div class="d-flex align-items-center">
        <%= link_to "Back to movies", movies_path, class: "btn btn-primary" %>
      </div>
    </div>

  <p><%= @movie.description %></p>
  <div class="mb-3">
    <div id="like_button">
      <%= render "shared/buttons/like_button", movie: @movie %>
    </div>

    <div id="seen_button">
      <%= render "shared/buttons/seen_button", movie: @movie %>
    </div>

    <div id="planned_button">
      <%= render "shared/buttons/planned_button", movie: @movie %>
    </div>

    <%= render "shared/buttons/chat_button", movie: @movie %>

  </div>

</div>
