<div class="container">
  <h1> <%= @movie.title %></h1>

  <p><%= @movie.description %></p>

  <%= button_to "Add to your watchlist", movie_planned_movies_path(@movie), data: { turbo_method:"POST" }, class: "btn btn-success"  %>
  <%= button_to "Add to your seenlist", movie_seen_movies_path(@movie), data: { turbo_method:"POST" }, class: "btn btn-success"  %>

  <% if Chat.find_by(movie_id: @movie.id, user_id: current_user.id).nil? %>
    <%= link_to "Chat about this movie", movie_chats_path(@movie.id), data: { turbo_method:"POST" }, class: "btn btn-warning" %>
  <% else %>
    <%= link_to "Chat about this movie", chat_path(Chat.find_by(movie_id: @movie.id, user_id: current_user.id)), class: "btn btn-info" %>
  <% end %>
</div>

<%= link_to "Back to home", "/home", class: "btn btn-primary" %>
