<div class="container mt-3">
  <div class="row align-items-start">

    <div class="col-md-4">
      <div class="banner rounded shadow-sm" id="movie-banner">
        <img src="<%= @movie.poster %>" alt="Movie Poster" class="img-fluid rounded">
      </div>
    </div>


    <div class="col-md-8">
      <div class="rounded shadow p-4 h-100" id="movie-description">
        <h1 class="mb-3"><%= @movie.title %></h1>

        <p class="mb-2">
          <strong>Release date:</strong>
          <% if @movie.release_date.present? %>
            <%= @movie.release_date %>
          <% else %>
            N/A
          <% end %>
        </p>

        <p class="mb-2">
          <strong>Genres:</strong>
          <% if @movie.genres.present? %>
            <%= @movie.genres.join(", ") %>
          <% else %>
            N/A
          <% end %>
        </p>

        <p class="mb-2">
          <strong>Directors:</strong>
          <% if @movie.directors.present? %>
            <%= @movie.directors.join(", ") %>
          <% else %>
            N/A
          <% end %>
        </p>

        <p>
          <strong>Description:</strong>
          <% if @movie.description.present? %>
            <%= @movie.description %>
          <% else %>
            N/A
          <% end %>
        </p>
          <div class="container mt-3">
            <div class="row">
              <div class="col text-center">
                <div class="d-flex justify-content-center gap-3 flex-wrap" id="group-btn-list">

                  <%= render "shared/buttons/like_button", movie: @movie %>
                  <%= render "shared/buttons/seen_button", movie: @movie %>
                  <%= render "shared/buttons/planned_button", movie: @movie %>
                  <%= render "shared/buttons/chat_button", movie: @movie %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
