<div class="container">
  <h1> <%= @movie.title %></h1>

  <p><%= @movie.description %></p>

  <%= button_to "Add to your watchlist", movie_planned_movies_path(@movie), method:"POST", class: "btn btn-success"  %>

  <%= link_to "Chat about movie", movie_chats_path(@movie.id), method:"POST", class: "btn btn-warning" %>
</div>

<%= link_to "Back to home", "/home", class: "btn btn-primary" %>
